@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: inline;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 5em;
    font-weight: 900;
    text-decoration: none;
    line-height: 1.2em;
    text-align: center;
}

ul li a:hover {
    color: #fff;
    -webkit-text-stroke: 1px #000;
    transition: 0.5s;
}

ul li a:before,
ul li a:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    transition: 0.5s;
}

ul li a:hover:before {
    color: #f00;
    z-index: 1;
    -webkit-text-stroke: 1px #000;
    transform: translate(10px, -10px);
}

ul li a:hover:after {
    color: #0ff;
    z-index: 2;
    -webkit-text-stroke: 1px #000;
    transform: translate(20px, -20px);
}
